main.aux
main.bbl
main.blg
main.glo
main.ist
main.lof
main.log
main.lot
main.out
main.pdf
main.synctex.gz
main.tdo
main.toc
main.bcf
main.fls
main.fdb_latexmk
main.run.xml
sublimeproject.sublime-project
sublimeproject.sublime-workspace
Chapters/glossary.tex
refs.bib